body {
  background: #555555;
  padding: 0em;
  margin: 0em;
}

.theheader {
  margin: 0 0 0.5em 0;
}

.theheader h1 {
  white-space: nowrap;
  font-size: 1.8em;
  padding-bottom: 10px;
}

.theheader h1 a {
  text-decoration: none;
  color: #000000;
}

img.logo {
  float: left;
  margin: 0px 20px 0px 0px;
  max-width: 200px;
  background: #666666;
}

.page_content {
  margin: 0 auto 0 auto;
  border-left: 10px solid #555555;
  border-right: 10px solid #555555;
  border-top: 10px solid #555555;
  border-bottom: none;
  background: #000000;
  color: #00aa00;
  font: 1.7em monospace;
  line-height: 1.5;
  min-width: 400px;
  max-width: 930px;
  padding: 5px;
  /*max-width: 45em;*/
}

.bottomref {
  margin: 0 auto 0 auto;
  min-width: 400px;
  max-width: 930px;
  padding: 0 5px 0 5px;
  text-align: right;
}

.bottomref a {
  background: #000000;
  color: #00aa00;
  margin: 0 20px 0 20px;
  padding: 3px;
}

.thefooter {
  text-align: center;
}

.page_content a:link {
  color: #00cc00;
}

.page_content a:visited {
  color: #00bb00;
}

.page_content code {
  background: #282828;
}

.page_content pre {
  background: #282828;
}

.wrongcode {
  color: #ff0000;
}

.remark {
  font-size: 90%;
}

.banner_warn {
  font-size: 120%;
  color: #ff0000;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 3px;
  width: 70%;
}



.navbar {
  background: #666666;
  color: #000000;
  font-size: 1em;
  text-align: right;
  float: right;
  margin-right: 10px;
  padding-right: 1em;
  padding-left: 1em;
}
a.navlnk {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
a.navlnk:hover {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #2222ff;
}




.clear_both {
  clear: both;
}
